.timo-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 200;
    background-color: rgba(0,0,0, 0.6);
}
.timo-modal .timo-alert {
    z-index: 3;
    background-color: #fff;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 520px;
}
.timo-modal .timo-alert .alert-content {
    padding: 16px 24px;
    border-bottom: 1px solid #e8e8e8;
}
.timo-modal .timo-modal-content {
    padding: 24px;
    font-size: 14px;
    word-wrap: break-word 
}
.timo-modal .timo-alert .alert-foot {
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
}
.timo-modal .timo-alert .alert-foot button {
    padding: 5px 25px !important;
}
.timo-modal .timo-alert .alert-foot {
    padding: 10px;
    text-align: right;
}

@keyframes fade {
    from {top: 0}
    to {top: 40%};
}
.alert-fade {
    animation: fade 1s;   
}
