.navbar {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    bottom: 0;
    padding-top: 50px;
    background-color: black;
    color: #fff;
}
.navbar .nav-bar {
    height: 90%;
    overflow: auto;
    z-index: 100;
}
.navbar .nav-bar  .main-menu{
    padding-left: 20px;
}
.nav-bar  .img {
    vertical-align: middle;
}
.nav-bar .navbar-child li a{
    display: block;
    padding: 5px;
    text-align: center;
    color: #fff;
}
.nav-bar .main-menu .icon-great {
    margin-left: 80px;
}
.nav-bar .navbar-child li:hover {
    background-color: #93ac98;
}
.nav-bar .navbar-child li.actived {
    background-color: #93ac98;
}